@import url(https://fonts.googleapis.com/css?family=Roboto:100);

#loading {
  display: inline-block;
  width: 10vw; /* 10% of the viewport width */
  height: 10vw; /* 10% of the viewport height */
  max-width: 50px; /* Set a maximum width */
  max-height: 50px; /* Set a maximum height */
  border: 3px solid rgb(0, 225, 255);
  border-radius: 50%;
  border-top-color: rgb(0, 0, 0);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* No need for -webkit-keyframes for modern browsers */
